---
import { Image } from 'astro:assets'
import { getCollection } from 'astro:content'
import HeaderNavigation from '../../components/HeaderNavigation.astro'
import BasicMeta from '../../components/BasicMeta.astro'
import MetaTags from '../../components/MetaTags.astro'
import SocialMeta from '../../components/SocialMeta.astro'
import Analytics from '../../components/Analytics.astro'
import PhotographerSchema from '../../components/PhotographerSchema.astro'
import '../../styles/layout.css'

import businessImage from '../../assets/images/businessfotografie/businessportrait-02.jpg'
import portraitImage from '../../assets/images/portraitfotografie/portraitImage.jpg'

// Fotos und Bilder importieren

const photos = await getCollection('photos')
const category = 'businessfotografie'

// Homepage
const title = 'SILBERBLICK - einfach gute Fotos in Berlin'
const description =
  'Daniel Kause, Fotograf seit 1995. Businessfotografie, Portraitfotografie und Architekturfotografie in Berlin.'
const keywords =
  'Fotograf Berlin, Businessfotografie Berlin, Portraitfotografie, Architekturfotografie, Mitarbeiterfotos, Corporate Photography, Daniel Kause'
---

<html lang="de">
  <head>
    <BasicMeta />
    <MetaTags
      title={title}
      description={description}
      canonicalUrl="https://silberblick.berlin/"
      keywords={keywords}
    />
    <SocialMeta
      title={title}
      description={description}
      url="https://silberblick.berlin/"
    />
    <Analytics trackingId="G-WJK34XRR7F" />
    <PhotographerSchema />
  </head>
  <body class="u-container stack">
    <HeaderNavigation currentPath="/" />
    <main class="stack u-container">
      <section class="u-grid" aria-label="linkList">
        <div class="three-column-item">
          {
            photos
              .filter((photo) => photo.data.category === category)
              .map((photo) => (
                <figure>
                  {photo.data.images?.map((img) => (
                    <Image
                      src={img.src}
                      alt={img.alt}
                      style="max-width:100%;height:auto;display:block;"
                    />
                  ))}
                  <figcaption>{photo.data.name}</figcaption>
                </figure>
              ))
          }
        </div>
      </section>
      <section class="u-grid" aria-label="Images">
        <div class="two-column-item">
          <figure>
            <a href="./businessfotografie/">
              <Image
                alt="Businessfotografie in Berlin"
                src={businessImage}
                style="max-width:100%;height:auto;display:block;"
              />
            </a>
            <figcaption>
              Businessportraits für JonesLangLaSalle Berlin
            </figcaption>
          </figure>
        </div>
        <div class="two-column-item">
          <figure>
            <a href="./portraitfotografie/">
              <Image
                alt="Portraitfotografie in Berlin"
                src={portraitImage}
                style="max-width:100%;height:auto;display:block;"
              />
            </a>
            <figcaption>Portraits für Werbung und Fun</figcaption>
          </figure>
        </div>
      </section>
      <section class="u-grid" aria-label="Copy">
        <div class="all-column-item">
          <h1>Fotos für Ihr Business in Berlin</h1>

          <h2>
            authentische Bilder für Agenturen, Unternehmen und Solo-Selbständige
          </h2>
          <p>Individialität in Serie - Fotos für Jones Lang LaSalle, Berlin</p>
          <p>Werbefotos für Aroma Thai Massage, Berlin</p>
          <p>Stills und Produktfotos</p>
        </div>
      </section>
    </main>
  </body>
</html>
