---
import Layout from '../layouts/Layout.astro';
import { Image } from 'astro:assets';
import danielfoto from '../fotograf-daniel-kause.jpg';
import kopfmassage from '/src/fotos/aroma-thai-massage-kopfmassage.jpg';
import professorAbri from '/src/fotos/business-corporate-executive-portrait-03.jpg';
import hauswart from '/src/fotos/business-samakiez-executive-portrait-78.jpg';
import lolaLipps from '/src/fotos/business-corporate-executive-portrait-06.jpg';
import janeLL from '/src/fotos/business-jll-executive-portrait-71.jpg';
import gerdW from '/src/fotos/business-corporate-executive-portrait-02.jpg';
---

<Layout title='SILBERBLICK - Fotograf Berlin | Daniel Kause'>
  <section class='gap figure-container'>
    <figure>
      <Image
        src={kopfmassage}
        alt='zwei Hände geben einer Frau eine Kopfmassage'
        class='kopfMassage'
      />
      <Image src={professorAbri} alt='Prof. Dr. Abri im Büro' class='drAbri' />
      <Image
        src={lolaLipps}
        alt='Businessportrait im Studio'
        class='lolaLipps'
      />
      <Image
        src={gerdW}
        alt='Modesigner Gerd Weißhofer auf einem Stuhl'
        class='gerdW'
      />
      <Image
        src={janeLL}
        alt='S/W Foto einer Businessfrau im Studio'
        class='janeLL'
      />
      <Image
        src={hauswart}
        alt='Hauswart in einer Sporthalle'
        class='hauswart'
      />
    </figure>
  </section>
  <section class='gap cta-container' aria-label='landing-page'>
    <article class='cta'>
      <figure>
        <Image src={danielfoto} alt='Daniel Kause' />
        <p>
          Portraits sind das Hauptgebiet meiner Arbeit. Werbefotos,
          Produktfotos, Fotos von Immobilien finden Sie im Portfolio
        </p>
      </figure>
      <button class='button-base cta-button'>Buchen Sie einen Termin! </button>
    </article>
  </section>
</Layout>
<style is:global>
  .figure-container {
    container-type: inline-size;
    container-name: figure-container;
    > figure {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      grid-template-rows: repeat(3, 1fr);
      gap: calc(var(--grid-gutter) * 0.5);
    }
    .kopfMassage {
      grid-column: 1 / 4;
    }
    .drAbri {
      grid-column: 3 / 5;
      grid-row: 2 / 4;
    }
  }

  @container figure-container (max-width: 750px) {
    figure {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: var(--grid-gutter);
    }
    figure > img {
      aspect-ratio: 1;
      object-fit: cover;
    }
    .kopfMassage {
      object-position: 65% 50%;
    }
    .drAbri {
      object-position: 50% 39%;
    }
    .lolaLipps {
      object-position: 0%;
    }
    .gerdW {
      object-position: 0% 0%;
    }
    .janeLL {
      object-position: 0% 0%;
    }
    .hauswart {
      object-position: 0% 20%;
    }
  }
  .cta-container {
    container-type: inline-size;
    container-name: cta-container;
  }
  .cta {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--grid-gutter);
  }
  .cta > figure {
    display: flex;
    flex-direction: row;
    gap: var(--grid-gutter);
  }
  .cta > figure > img {
    max-width: calc(var(--step-0) * 6);
    height: auto;
    object-fit: contain;
  }
  .cta > figure > p {
    font-size: var(--step--1);
  }
  .cta > button {
    max-height: calc(var(--step-0) * 3);
    max-width: fit-content;
  }
  @container cta-container (max-width: 600px) {
    .cta {
      grid-template-columns: 1fr;
    }
    .cta > button {
      order: -1;
    }
  }
</style>
