---
import Layout from '../layouts/Layout.astro';
import { Image } from 'astro:assets';
import danielfoto from '../fotograf-daniel-kause.jpg';
import professorAbri from '/src/fotos/business-corporate-executive-portrait-03.jpg';
import hauswart from '/src/fotos/business-samakiez-executive-portrait-78.jpg';
import lolaLipps from '/src/fotos/business-corporate-executive-portrait-06.jpg';
import janeLL from '/src/fotos/business-jll-executive-portrait-71.jpg';
import portraitSilberMartina from '/src/fotos/portrait-silber-martina.jpg';
---

<Layout title='SILBERBLICK - Fotograf Berlin | Daniel Kause'>
  <h1>Einfach gute Fotos</h1>
  <section class='gap figure-container'>
    <figure class='mobmob'>
      <Image
        src={lolaLipps}
        alt='Businessportrait im Studio'
        class='lolaLipps'
      />
      <Image
        src={professorAbri}
        alt='Prof. Dr. Abri im Büro'
        class='professorAbri'
      />
      <Image
        src={janeLL}
        alt='S/W Foto einer Businessfrau im Studio'
        class='janeLL'
      />
      <Image
        src={hauswart}
        alt='Hauswart in einer Sporthalle'
        class='hauswart'
      />
      <Image
        src={portraitSilberMartina}
        alt='Portrait einer Frau mit silbernem Haar'
        class='portraitSilberMartina'
      />
      <div class='cta-vertical'>
        <Image src={danielfoto} alt='Daniel Kause' />
        <p>
          Businessportraits sind das Hauptgebiet meiner Arbeit. Ich fotografiere
          Ihre Immobilien, Services und Produkte für Websites und Werbung.
        </p>
      </div>
      <button class='cta-button'>Buchen Sie einen Termin! </button>
    </figure>
  </section>
</Layout>
<style is:global>
  .figure-container {
    container-type: inline-size;
    container-name: figure-container;
    > figure {
      display: grid;
      gap: calc(var(--grid-gutter) * 0.5);
    }
  }

  /* Desktop Grid - Magazine Layout */
  @container figure-container (min-width: 751px) {
    .figure-container > figure {
      grid-template-columns: repeat(12, 1fr);
      grid-template-rows: repeat(9, 1fr);
    }
    .figure-container .lolaLipps {
      grid-column: 2 / 5;
      grid-row: 2 / 4;
    }
    .figure-container .professorAbri {
      grid-column: 3 / 5;
      grid-row: 4 / 7;
    }
    .figure-container .janeLL {
      grid-column: 5 / 7;
      grid-row: 2 / 5;
    }
    .figure-container .hauswart {
      grid-column: 5 / 7;
      grid-row: 5 / 8;
    }
    .figure-container .portraitSilberMartina {
      grid-column: 7 / 9;
      grid-row: 4 / 7;
    }
    .figure-container .cta-vertical {
      grid-column: 10 / 13;
      grid-row: 2 / 7;
      > img {
        width: 50%;
      }
      > p {
        font-size: var(--step--1);
      }
    }
    .figure-container .cta-button {
      grid-column: 9 / 13;
      grid-row: 7 / 8;
    }
  }

  /* Mobile Grid - Override */
  @container figure-container (max-width: 750px) {
    .figure-container > figure {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: repeat(3, 1fr);
      gap: var(--grid-gutter);
    }

    .figure-container .lolaLipps {
      grid-column: 1;
      grid-row: 1;
    }
    .figure-container .professorAbri {
      grid-column: 2;
      grid-row: 1;
    }
    .figure-container .janeLL {
      grid-column: 1;
      grid-row: 2;
    }
    .figure-container .hauswart {
      grid-column: 2;
      grid-row: 2;
    }
    .figure-container .portraitSilberMartina {
      grid-column: 1;
      grid-row: 3;
    }
    .figure-container .cta-button {
      grid-column: 1 / -1;
      grid-row: 4;
    }
    .figure-container .cta-vertical {
      > img {
        width: 50%;
      }
      grid-column: 1;
      grid-row: 5;
    }

    /* 1:1 Aspect Ratio + Object Positioning */
    .figure-container figure > img {
      aspect-ratio: 1/1;
      object-fit: cover;
      width: 100%;
      height: 100%;
    }

    .figure-container .lolaLipps {
      object-position: 0%;
    }
    .figure-container .professorAbri {
      object-position: 50% 39%;
    }
    .figure-container .janeLL {
      object-position: 0% 0%;
    }
    .figure-container .hauswart {
      object-position: 0% 20%;
    }
    .figure-container .portraitSilberMartina {
      object-position: 50% 30%;
    }
  }
  .cta-container {
    container-type: inline-size;
    container-name: cta-container;
  }
  .cta {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--grid-gutter);
  }
  .cta > figure {
    display: flex;
    flex-direction: row;
    gap: var(--grid-gutter);
  }
  .cta > figure > img {
    max-width: calc(var(--step-0) * 6);
    height: auto;
    object-fit: contain;
  }
  .cta > figure > p {
    font-size: var(--step--1);
  }
  .cta > button {
    max-height: calc(var(--step-0) * 3);
    max-width: fit-content;
  }
  @container cta-container (max-width: 600px) {
    .cta {
      grid-template-columns: 1fr;
    }
    .cta > button {
      order: -1;
    }
  }
</style>
