---
import HeaderNavigation from './HeaderNavigation.astro'
import BasicMeta from './BasicMeta.astro'
import MetaTags from './MetaTags.astro'
import SocialMeta from './SocialMeta.astro'
import Analytics from './Analytics.astro'
import '../styles/layout.css'

export interface Props {
  title: string
  description: string
  currentPath: string
  pageTitle: string
  pageDescription: string
  canonicalUrl?: string
  image?: string
  keywords?: string
}

const {
  title,
  description,
  currentPath,
  pageTitle,
  pageDescription,
  canonicalUrl,
  image,
  keywords,
} = Astro.props
---

<html lang="de">
  <head>
    <BasicMeta />
    <MetaTags
      title={title}
      description={description}
      canonicalUrl={canonicalUrl}
      keywords={keywords}
    />
    <SocialMeta
      title={title}
      description={description}
      image={image}
      url={canonicalUrl}
    />
    <Analytics trackingId="G-WJK34XRR7F" />
  </head>
  <body class="u-container">
    <HeaderNavigation currentPath={currentPath} />

    <main class="u-grid">
      <div class="all-column-item">
        <h1>{pageTitle}</h1>

        <p>{pageDescription}</p>
      </div>

      <slot />
    </main>
  </body>
</html>
